# lock port
lock_port = 52788

# log level 
# 0 = off
# 1 = critical
# 2 = error
# 3 = warning
# 4 = info
# 5 = debug
loglevel = 5

# log file
logfile = log/fun2_mlp.log

# cluster node id, this should be unique through out the cluster
cluster_node = 1

# database
db_host = orcl
db_user = fun2
db_pass = fun2

thread_count = 2

listen_port = 8081

