# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so*
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# http://www.gnu.org/software/autoconf
#aclocal.m4
#depcomp
#install-sh
#missing
#config.h.in

config.status
config.log
config.h
autom4te.cache
compile
stamp-h1
test-driver

# http://www.gnu.org/software/automake
#Makefile.in
Makefile

*.test
*.log
*.gz
*.swp
.deps
tmp
local
tags

dist-install

fun2_broadcast
fun2_broadcast_tm
fun2_default_unli
fun2_geoprobe
fun2_mlp
fun2_notification
fun2_ods
fun2_request
fun2_response
fun2_shampoo
fun2_transaction
fun2_transaction_tm

# others
mxml/doc/mxml.man
mxml/mxmldoc
mxml/mxmldoc-static
mxml/testmxml

